h2{
    color: brown;
    background-color: rgb(39, 4, 4);
}

/* class açma */
.yaziOzellik{
    color: rgb(255, 142, 4);
}

/* ID oluşturma */
#yaziOzellik2{
    color: blueviolet;
}

.box{
    background-image: url(THY-a350-e1698859056882.jpg);
    background-position: left;
    background-size: cover;
    background-color: rgb(96, 236, 218);
    width: 50%;
    height: 250px;
    text-align: center;
    color: brown;
    font-size: 60px;
    border: 10px solid red;
    margin-left: 25%;
}

.kirmizi{

    width: 16.3%;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    display: inline-block;
}

.beyaz{
    width: 16.3%;
    height: 200px;
    background-color: white;
    border: 5px solid black;
    display: inline-block;
}

#margin{
    margin-left: 25%;
}

.h3{
    padding-top: 18%;
}