h2{
    color: brown;
    background-color: rgb(39, 4, 4);
}

/* class açma */
.yaziOzellik{
    color: rgb(255, 142, 4);
}

/* ID oluşturma */
#yaziOzellik2{
    color: blueviolet;
}

.box{
    background-image: url(THY-a350-e1698859056882.jpg);
    background-position: left;
    background-size: cover;
    background-color: rgb(96, 236, 218);
    width: 50%;
    height: 250px;
    text-align: center;
    color: brown;
    font-size: 60px;
    border: 10px solid red;
    margin-left: 25%;
}

.kirmizi{

    position: relative;
    width: 16.3%;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    display: inline-block;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes example {
  0%   { background-color: red; }
  30%  { background-color: rgb(100, 219, 110); }
  60% { background-color: blue; }
  100% { background-color:red; }
}


@keyframes example2{
  0%   { background-color: white; }
  25%  { background-color: blue; }
  50%  { background-color: red; }
  75% { background-color: green; }
  100% { background-color:white; }
}

.beyaz{
    width: 16.3%;
    height: 200px;
    background-color: white;
    border: 5px solid black;
    display: inline-block;
    animation-name: example2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#margin{
    margin-left: 25%;
}

.h3{
    padding-top: 18%;
}

.imgg{

    width: 50%;
    height: 50%; 
    object-fit: contain;
}
ul{
    list-style-type: none;
    width: 15%;
    padding-left: 0%;
}

ul:link{
    color: blue;
}

ul li{
    background-color: rgba(86, 218, 211, 0.966);
}

ul li:hover{
    background-color: rgba(16, 63, 133, 0.966);
    transition: 0.7s;
}
ul li:link{
    background-color: rgba(163, 44, 113, 0.966);
}

ul li:visited{
    color: #fff;
}

ul li a{

    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
ul li a:link{
    color: rgba(255, 255, 255, 0.966);
}

ul li a:active{
    background-color: rgba(67, 41, 218, 0.966);
    transition: 0.7s;
}
ul li a:hover{
    background-color: rgba(16, 63, 133, 0.966);
    transition: 0.7s;
}
ul li a:visited{
    color: #fff;
}